* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.container__header {
  width: 100vw;
  height: 10vh;
}

.container__content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  flex-wrap: wrap;
}

.container__editor {
  width: 50%;
  height: 100%;
}

.container__editor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  border-style: solid;
  border-width: 1px;
  border-bottom-style: none;
  border-right-style: none;
  border-color: rgba(118, 118, 118, 0.3);
}

.container__editor-name {
  display: flex;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid #fafafa;
  border-right: 1px solid rgba(118, 118, 118, 0.3);
  border-top: 1px solid rgba(118, 118, 118, 0.3);
  background-color: #fafafa;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  width: 3vw;
  height: 3vh;
  margin-right: 2vh;
}

.container_code-editor-area {
  height: 85%;
  overflow: auto;
  width: 100%;
  background-color: #fafafa;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(118, 118, 118, 0.3);
}

.container__code-editor {
  font-size: 20px;
  background-color: #fafafa;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(118, 118, 118, 0.3);
}

.container__code-editor textarea {
  outline: 0;
}

.container__result {
  width: 50%;
  height: 100%;
}

.container__result-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  border-style: solid;
  border-width: 1px;
  border-bottom-style: none;
  border-color: rgba(118, 118, 118, 0.3);
}

.container__result-name {
  display: flex;
  height: 100%;
  align-items: center;
}

.container_code-result-area {
  height: 85%;
  overflow: auto;
  width: 100%;
  background-color: #fafafa;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(118, 118, 118, 0.3);
}

.container__code-result {
  font-size: 20px;
  background-color: #fafafa;
}
